@font-face {
    font-family: 'Insta Font';
    src: url('./fonts/instragram.otf');
}

.logo{
    font-family: 'Insta Font', sans-serif;
}

.text-height-center{
    display: flex;
    align-items:center;
    justify-content:center;
}

.m-0{
    margin-top: 0!important;
}

.my-custom-class {
    --background: #222;
    --spinner-color: #fff;

    color: #fff;
}